<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Groups List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Group List</h1>
<a href="addGroupe">Add Groups</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each ="groupe : ${groupes}">
            <td th:utext="${groupe.name}">...</td>
            <td><a th:href="@{/showGroupeUpdateForm/{id}(id=${groupe.id})}">Update</a>
                <a th:href="@{/deleteGroupe/{id}(id=${groupe.id})}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>