<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update Student</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Update a Student:</h1>

<form th:action="@{/addSubject}"
      th:object="${subjectForm}" method="POST">
    <input type="hidden" th:field="*{id}" />
    Title:
    <input type="text" th:field="*{title}"/>
    <br/>
    Teacher:
    <input type="text" th:field="*{teacher}"/>
    <br/>
    Side Teachers:
    <table border="1">

        <tr>
            <th>Side Teachers</th>
            <th><a>ADD</a></th>
        </tr>
        <tr th:each="st : *{sideTeachers}">
            <td th:utext="${st}"></td>
            <td><a th:href="@{/deleteSideTeacher/{id}:{name}(id=*{id}, name=${st})}">Remove</a></td>
        </tr>

    </table>
    <br/>
    <input type="submit" value="Update"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>